/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
.env
/vendor/
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
dockerfile
/public/build/
.DS_Store
/pbulic/*.DS_Store
/public/moo.txt
